general/.vim/pack
general/.vim/autoload
general/.vim/sessions
.netrwhist
general/.config/nvim/pack
Session.vim

mac/.local/*

linux/.local/*
!linux/.local/bin
linux/.local/bin/pip*
!linux/.local/src
!linux/.local/wallpapers

*.o
*.zwc
.DS_Store
*.log
