general/.vim/pack
general/.vim/autoload
general/.vim/sessions
.netrwhist
general/.config/nvim/pack
Session.vim

*.o
*.zwc
.DS_Store
*.log

linux/.local/bin/private
linux/.local/src/blocks/dwmblocks
linux/.local/src/st/st
linux/.local/src/slock-1.4/slock
linux/.local/src/dmenu-4.9/stest
linux/.local/src/dmenu-4.9/dmenu_run
linux/.local/src/dmenu-4.9/dmenu
linux/.local/src/dwm-6.2/dwm
